
<h2>About Me</h2>
<p>
			I was born in Greensboro NC.  When I was 12 my family moved overseas to the Country of Kazakhstan.
 It was there I meet my wife Arina and learned the Russian Language.  My wife and I live in Columbia SC with our daughter
 who was born in 2005.  I currently work as the Lead Developer for Leveraged Media, a marketing start-up here in Columbia.</p>
 <p>
When it comes to web-sites, I prefer to hand code my HTML.  I am currently developing everything on a MacBook.  I use Coda for all my light coding(although lately TextMate has been rocking my world). </p>

			
				<p>
 
</p>

</div>

<div id="sidebar">
	<div class="section">My Resume
	
	<table id="emurse_resume_badge_gogomonkey" cellspacing="0" cellpadding="4" border="0" style="border: 2px solid #224f6f ;font-family:arial;font-size:11px;">
		<tr>
			<th colspan="3" style="border-bottom: 1px solid #224f6f;font-size:12px;color:#fff;background:#4a7b9d;">My Resume</th>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/">Web</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/doc/">DOC</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/pdf/">PDF</a></td>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/rtf/">RTF</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/odt/">ODT</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/txt/">TXT</a></td>
		</tr>
		<tr>
			<th colspan="3"><a href="http://www.emurse.com"><img src="http://www.emurse.com/images/badge_powered.gif" alt="powered by emurse" style="width:75px;height:19px;border:0;" width="75" height="19" /></a></th>
		</tr>
	</table>
</div>
<p class="section">Social Media</p>
<a href="http://www.twitter.com/DavidDuggins">Twitter</a><br />
<a href="http://www.google.com/profiles/weatheredwatcher">Google Profile</a><br />
<a href="http://www.facebook.com/pages/weatheredwatchercom/260916628595?ref=ts">Public Facebook Page</a><br />
<a href="http://www.linkedin.com/in/davidduggins">LinkedIn Page</a><br />
<a href="http://www.last.fm/user/minasmir">LastFM Station</a><br />
<a href="http://weatheredwatcher.deviantart.com/">DeviantArt Account</a><br />
<a href="http://www.github.com/weatheredwatcher/">GitHub</a><br />
	
</div>
</content>