<div class="pagecell">
<h3>About Me</h3>
<p>
			I was born in Greensboro NC.  When I was 12 my family moved overseas to the Country of Kazakhstan.
 It was there I meet my wife Arina and learned the Russian Language.  My wife and I live in Columbia SC with our daughter
 who was born in 2005.  I currently work as the Director of IT for Root Loud, a marketing company here in Columbia.</p>
 <p>
	In addition, I am the web-developer for the UK based design firm, Bonne Marque.
	</p>
	<p>
When it comes to web-sites, I prefer to hand code my HTML.  I am currently developing everything on a MacBook.  I develop PHP and Ruby on Rails with TextMate. </p>
			
</div>

