<div class="pagecell">
	<%= @contentsArray%>
	

</div>

<div id="sidebar">
	<div class="section">My Resume
	
	<table id="emurse_resume_badge_gogomonkey" cellspacing="0" cellpadding="4" border="0" style="border: 2px solid #224f6f ;font-family:arial;font-size:11px;">
		<tr>
			<th colspan="3" style="border-bottom: 1px solid #224f6f;font-size:12px;color:#fff;background:#4a7b9d;">My Resume</th>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/">Web</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/doc/">DOC</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/pdf/">PDF</a></td>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/rtf/">RTF</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/odt/">ODT</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/txt/">TXT</a></td>
		</tr>
		<tr>
			<th colspan="3"><a href="http://www.emurse.com"><img src="http://www.emurse.com/images/badge_powered.gif" alt="powered by emurse" style="width:75px;height:19px;border:0;" width="75" height="19" /></a></th>
		</tr>
	</table>
</div>
<p class="section">Social Media</p>
<a href="javascript:void(0)" onclick="loadPage('twitter')">Twitter</a><br />
<a href="javascript:void(0)" onclick="loadPage('google')">Google Profile</a><br />
<a href="javascript:void(0)" onclick="loadPage('facebook')">Public Facebook Page</a><br />
<a href="javascript:void(0)" onclick="loadPage('linkedin')">LinkedIn Page</a><br />
<a href="javascript:void(0)" onclick="loadPage('lastfm')">LastFM Station</a><br />
<a href="javascript:void(0)" onclick="loadPage('dA')">DeviantArt Account</a><br />
<a href="javascript:void(0)" onclick="loadPage('github')">GitHub</a><br />
<p>
<style type="text/css">table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca td {margin:0 !important;padding:0 !important;border:0 !important;}table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca tr.lfmHead a:hover {background:url(http://cdn.last.fm/widgets/images/en/header/chart/recenttracks_regular_blue.png) no-repeat 0 0 !important;}table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca tr.lfmEmbed object {float:left;}table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca tr.lfmFoot td.lfmConfig a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat 0px 0 !important;;}table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca tr.lfmFoot td.lfmView a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat -85px 0 !important;}table.lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca tr.lfmFoot td.lfmPopup a:hover {background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat -159px 0 !important;}</style>
<table class="lfmWidgetwordpress_chart_42c6b17d1d88b27dace4755075fb71ca" cellpadding="0" cellspacing="0" border="0" style="width:184px;"><tr class="lfmHead"><td><a title="minasmir: Recently Listened Tracks" href="http://www.last.fm/user/minasmir" target="_blank" style="display:block;overflow:hidden;height:20px;width:184px;background:url(http://cdn.last.fm/widgets/images/en/header/chart/recenttracks_regular_blue.png) no-repeat 0 -20px;text-decoration:none;border:0;"></a></td></tr><tr class="lfmEmbed"><td><object type="application/x-shockwave-flash" data="http://cdn.last.fm/widgets/chart/19.swf" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" id="lfmEmbed_1143299889" width="184" height="179"> <param name="movie" value="http://cdn.last.fm/widgets/chart/19.swf" /> <param name="flashvars" value="type=recenttracks&amp;user=minasmir&amp;theme=blue&amp;lang=en&amp;widget_id=wordpress_chart_42c6b17d1d88b27dace4755075fb71ca" /> <param name="allowScriptAccess" value="always" /> <param name="allowNetworking" value="all" /> <param name="allowFullScreen" value="true" /> <param name="quality" value="high" /> <param name="bgcolor" value="6598cd" /> <param name="wmode" value="transparent" /> <param name="menu" value="true" /> </object></td></tr><tr class="lfmFoot"><td style="background:url(http://cdn.last.fm/widgets/images/footer_bg/blue.png) repeat-x 0 0;text-align:right;"><table cellspacing="0" cellpadding="0" border="0" style="width:184px;"><tr><td class="lfmConfig"><a href="http://www.last.fm/widgets/?colour=blue&amp;chartType=recenttracks&amp;user=minasmir&amp;chartFriends=0&amp;from=code&amp;widget=chart&amp;path=wordpress" title="Get your own widget" target="_blank" style="display:block;overflow:hidden;width:85px;height:20px;float:right;background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat 0px -20px;text-decoration:none;border:0;"></a></td><td class="lfmView" style="width:74px;"><a href="http://www.last.fm/user/minasmir" title="View minasmir's profile" target="_blank" style="display:block;overflow:hidden;width:74px;height:20px;background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat -85px -20px;text-decoration:none;border:0;"></a></td><td class="lfmPopup"style="width:25px;"><a href="http://www.last.fm/widgets/popup/?colour=blue&amp;chartType=recenttracks&amp;user=minasmir&amp;chartFriends=0&amp;from=code&amp;widget=chart&amp;path=wordpress&amp;resize=1" title="Load this chart in a pop up" target="_blank" style="display:block;overflow:hidden;width:25px;height:20px;background:url(http://cdn.last.fm/widgets/images/en/footer/blue.png) no-repeat -159px -20px;text-decoration:none;border:0;" onclick="window.open(this.href + '&amp;resize=0','lfm_popup','height=279,width=234,resizable=yes,scrollbars=yes'); return false;"></a></td></tr></table></td></tr></table>
</ul></p>
<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/16630515906268857955/state/com.google/broadcast?n=5&callback=GRC_p(%7Bc%3A%22black%22%2Ct%3A%22weatheredwatcher's%20shared%20items%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>	
</div>
