<div class="pagecell">
	


	<% @posts.each do |post| %>
	 <h1 class="blog_title"><%= link_to post.title, post %></h1>
	    <h3>written by <%= image_tag('sm_logo.png') %> <%=h post.created_at %></h3>
	    <%= post.body %>
	    
	    
	  
	<% end %>

	<br />


	

</div>

