<div class = "pagecell">
<h1>Contact Me</h1>
<p>I am currently available for freelance projects in php, JavaScript and especially Ruby on Rails.  Feel free to leave me a voice message.  I'll get back to you as soon as possible with a quote!</p>

<object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=d948e3ce3dad52394943dec7dcfe70a09bff55a1&style=0" /></object>
	</div>
</div>
