<div class="pagecell">
<h3>Welcome to My Website</h3>
<p>
			This little site is my own personal home on the web. I've decided to simplify my online presence to allow me to 
			spend more time on the cool stuff that makes programming fun.  This site is written in Ruby on Rails and is hosted by Heroku.</p>
 


</div>

