<div class="pagecell">
<h3>Welcome to My Website</h3>
<p>
			This little site is my own personal home on the web. I've decided to simplify my online presence to allow me to 
			spend more time on the cool stuff that makes programming fun.  This site is written in Ruby on Rails and is hosted by Heroku.</p>
 


</div>

<div id="sidebar">
	<div class="section">My Resume
	
	<table id="emurse_resume_badge_gogomonkey" cellspacing="0" cellpadding="4" border="0" style="border: 2px solid #224f6f ;font-family:arial;font-size:11px;">
		<tr>
			<th colspan="3" style="border-bottom: 1px solid #224f6f;font-size:12px;color:#fff;background:#4a7b9d;">My Resume</th>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/">Web</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/doc/">DOC</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/pdf/">PDF</a></td>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/rtf/">RTF</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/odt/">ODT</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/txt/">TXT</a></td>
		</tr>
		<tr>
			<th colspan="3"><a href="http://www.emurse.com"><img src="http://www.emurse.com/images/badge_powered.gif" alt="powered by emurse" style="width:75px;height:19px;border:0;" width="75" height="19" /></a></th>
		</tr>
	</table>
</div>
<p class="section">Social Media</p>
<a href="javascript:void(0)" onClick="loadPage('twitter')">Twitter</a><br />
<a href="javascript:void(0)" onCLick="loadPage('google')">Google Profile</a><br />
<a href="javascript:void(0)" onClick="loadPage('facebook')">Public Facebook Page</a><br />
<a href="javascript:void(0)" onClick="loadPage('linkedin')">LinkedIn Page</a><br />
<a href="javascript:void(0)" onClick="loadPage('lastfm')">LastFM Station</a><br />
<a href="javascript:void(0)" onClick="loadPage('dA')">DeviantArt Account</a><br />
<a href="javascript:void(0)" onClick="loadPage('github')">GitHub</a><br />
	
</div>