<div class="pagecell">
<h3>Projects and Portfolio</h3>
<p>
<span class="project">This site</span> has always been one of my projects. Rather than try and maintain some blog or such, I've streamlined things to a bit more of a lifestream. You can always find links to the right 
of all the social media that I am on.  My blog is hand rolled and uses a filesystem based approach rather than a database.  I will be working as I can to improve this, and the code will be on git-hub.  
I also have a Last.FM feed to showcase what I am listening to at any given moment.  All of the code that I write from now on will be posted on Git Hub either
as a full fledged commit or as a gist.</p>
<p>
<span class="project">Social Media</span> has always been a passion of mine. I am currently working on several projects that incorporate Social Media.
</p>
<p>
<span class="project">Photoshop</span> is a skill that I have that I don't often use. I plan on spending some time doing some digital art and posting it on Deviantart.
	Needless to say, I will post thumbnails here as well as link to the main image in dA.
</p>
<p>
<span class="project">Sow</span> is an open-source script that I wrote in Ruby to create a project structure for html or php based projects.  It creates the project folder, folders for images css, and javascript.
It also creates a XHTML Strict index.html page, as well as download three javascript libraries.  It is easy to customize for anyones needs.  You can get the code from the project page on GitHub <a href="http://github.com/weatheredwatcher/Sow">http://github.com/weatheredwatcher/Sow</a>
It is released under the GPL.
</p>
</div>

<div id="portfolio">
	<img src="../../../public/images/strategic.medium.jpeg" width="550" height="322" alt="Strategic.Medium">
</div>