<div class="pagecell">
<h3>Projects and Portfolio</h3>
<p>
<span class="project">This site</span> has always been one of my projects. Rather than try and maintain some blog or such, I've streamlined things to a bit more of a lifestream. You can always find links to the right 
of all the social media that I am on.  My blog is hand rolled and uses a filesystem based approach rather than a database.  I will be working as I can to improve this, and the code will be on git-hub.  
I also have a Last.FM feed to showcase what I am listening to at any given moment.  All of the code that I write from now on will be posted on Git Hub either
as a full fledged commit or as a gist.</p>
<p>
<span class="project">Social Media</span> has always been a passion of mine. I am currently working on several projects that incorporate Social Media.
</p>
<p>
<span class="project">Photoshop</span> is a skill that I have that I don't often use. I plan on spending some time doing some digital art and posting it on Deviantart.
	Needless to say, I will post thumbnails here as well as link to the main image in dA.
</p>
</div>

<div id="sidebar">
	<div class="section">My Resume
	
	<table id="emurse_resume_badge_gogomonkey" cellspacing="0" cellpadding="4" border="0" style="border: 2px solid #224f6f ;font-family:arial;font-size:11px;">
		<tr>
			<th colspan="3" style="border-bottom: 1px solid #224f6f;font-size:12px;color:#fff;background:#4a7b9d;">My Resume</th>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/">Web</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/doc/">DOC</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/pdf/">PDF</a></td>
		</tr>
		<tr>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/rtf/">RTF</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/odt/">ODT</a></td>
			<td style="text-align: center;"><a href="http://weatheredwatcher.emurse.com/download/txt/">TXT</a></td>
		</tr>
		<tr>
			<th colspan="3"><a href="http://www.emurse.com"><img src="http://www.emurse.com/images/badge_powered.gif" alt="powered by emurse" style="width:75px;height:19px;border:0;" width="75" height="19" /></a></th>
		</tr>
	</table>
</div>
<p class="section">Social Media</p>
<a href="javascript:void(0)" onclick="loadPage('twitter')">Twitter</a><br />
<a href="javascript:void(0)" onclick="loadPage('google')">Google Profile</a><br />
<a href="javascript:void(0)" onclick="loadPage('facebook')">Public Facebook Page</a><br />
<a href="javascript:void(0)" onclick="loadPage('linkedin')">LinkedIn Page</a><br />
<a href="javascript:void(0)" onclick="loadPage('lastfm')">LastFM Station</a><br />
<a href="javascript:void(0)" onclick="loadPage('dA')">DeviantArt Account</a><br />
<a href="javascript:void(0)" onclick="loadPage('github')">GitHub</a><br />
	
</div>